/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/*
!/tmp/.gitkeep

# rspec failure tracking
.rspec_status

# PodcastBuddy side-affects
response.mp3
whisper.cpp

# Build and release side-affects
/release/
